<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationLinks">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">AwayTeam</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigationLinks">
      <ul class="nav navbar-nav">
        <li ui-sref-active="{ active: $state.includes(\'about\') }">
            <a ui-sref="about">About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <!-- Login Form -->
      <form class="navbar-form navbar-right" name="loginForm" role="login" ng-submit="attemptLogin()" ng-hide="ls.isLoggedIn || !ls.doneLoading" ng-init="setLoginForm();">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="login.loginId" name="loginId" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" ng-model="login.password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default hidden-devices" ng-disabled="login.working">Login <i class="fa" ng-class="login.working ? 'fa-cog fa-spin' : 'fa-sign-in'"></i></button>
        <button type="submit" class="btn btn-default hidden-devices" ng-disabled="login.working" ui-sref="register">Register <i class="fa" ng-class="'fa-user'"></i></button>
        <br/>
        <label class="checkbox-inline">
            <input type="checkbox" name="rememberMe" ng-model="login.rememberMe" ng-true-value="true" ng-false-value="false" ng-class="{ 'active': !ls.isLoggedIn }"> Remember Credentials?
        </label>
      </form>

	  <!-- Spinner -->
      <button class="btn btn-default navbar-btn navbar-right" ng-hide="ls.doneLoading">
        <i class="fa fa-spinner fa-spin"></i>
      </button>
      <!-- Logout Form -->
      <form class="navbar-form navbar-right" ng-show="ls.isLoggedIn">
          <div class="btn-group user-dropdown" dropdown>
              <button type="button" class="btn">{{ ls.user.loginId }}</button>
              <button type="button" class="btn dropdown-toggle">
                  <span class="caret"></span>
                  <span class="sr-only">Split button!</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#" ui-sref="register">Add Account</a></li>
                  <li><a href="#" ui-sref="editAccount">Edit Account</a></li>
                  <li><a href="#" ng-click="changePWOpen()">Change Password</a></li>
                  <li class="divider"></li>
                  <li><a href="#" ng-click="logout()">Logout</a></li>
              </ul>
          </div>

         <!--<span class="user-popover" popover-template="header/userPopover.tpl.html" popover-trigger="click" popover-placement="bottom" >{{ ls.user.loginId }}</span>-->

        <!--<div class="form-group">
          <label>Hello {{ ls.user.firstName }}</label>
        </div>
        <div class="form-group">
          <button  type="submit" class="btn btn-default">Logout <i class="fa fa-signout"></i></button>
        </div>-->
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
    <div class="login-error" ng-class="{ 'active': login.wrong }">
        <div class="alert alert-danger"><b>Error:</b> Server said your user/pass doesn't match existing users.</div>
    </div>
</nav>